@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    @model List<ClientServiceViewModel>

}
<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #3b3b3b;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        background: #2b2b2b;
    }

    @@media screen and (max-width: 580px) {
        body {
            font-size: 16px;
            line-height: 22px;
        }
    }

    .wrapper {
        margin: 0 auto;
        padding: 40px;
        max-width: 800px;
    }

    .table {
        margin: 0 0 40px 0;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        display: table;
    }

    @@media screen and (max-width: 580px) {
        .table {
            display: block;
        }
    }

    .row {
        display: table-row;
        background: #f6f6f6;
    }

        .row:nth-of-type(odd) {
            background: #e9e9e9;
        }

        .row.header {
            font-weight: 900;
            color: #ffffff;
            background: #ea6153;
        }

        .row.green {
            background: #27ae60;
        }

        .row.blue {
            background: #2980b9;
        }

    @@media screen and (max-width: 580px) {
        .row {
            padding: 14px 0 7px;
            display: block;
        }

            .row.header {
                padding: 0;
                height: 6px;
            }

                .row.header .cell {
                    display: none;
                }

            .row .cell {
                margin-bottom: 10px;
            }

                .row .cell:before {
                    margin-bottom: 3px;
                    content: attr(data-title);
                    min-width: 98px;
                    font-size: 10px;
                    line-height: 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #969696;
                    display: block;
                }
    }

    .cell {
        padding: 6px 12px;
        display: table-cell;
    }

    @@media screen and (max-width: 580px) {
        .cell {
            padding: 2px 16px;
            display: block;
        }
    }
</style>
@*<table>
    <thead>
    <tr>
    <td>إسم العميل</td>
    <td>الهاتف</td>
    <td>المنطقه السكنيه</td>
    <td>طريقة المحاسبه</td>
    <td>الشركه</td>
    <td>الشركه</td>
    <td>الخدمة</td>
    <td>سعر الخدمة</td>
    <td>نسبة التحمل</td>
    </tr>
    </thead>

    <tbody>
    <tr>
    <td>إ</td>
    <td>الهاتف</td>
    <td>المنطقه السكنيه</td>
    <td>طريقة المحاسبه</td>
    <td>الشركه</td>
    <td>الشركه</td>
    <td>الخدمة</td>
    <td>سعر الخدمة</td>
    <td>نسبة التحمل</td>
    </tr>
    </tbody>
    </table>*@
 <a class="btn btn-primary" href="@Url.Action("Add", "ClientService")" >  إضافة خدمه لعميل</a> 

<div class="wrapper">

    <div class="table">

        <div class="row header">

            <div>
                نسبة التحمل
            </div>

            <div class="cell">
                سعر الخدمة
            </div>

            <div class="cell">
                الخدمة
            </div>

            <div class="cell">
                الشركه
            </div>

            <div class="cell">
                طريقة المحاسبه
            </div>

            <div class="cell">
                المنطقة السكنيه
            </div>

            <div class="cell">
                الهاتف
            </div>

            <div class="cell">
                أسم العميل
            </div>

        </div>

        @foreach (ClientServiceViewModel clientService in Model)
        {
            <div class="row">
                <div class="cell" data-title="Name">
                    @clientService.EnduranceRatio
                </div>
                <div class="cell" data-title="Age">
                    @clientService.ServicePrice
                </div>
                <div class="cell" data-title="Occupation">
                    @clientService.ServiceName
                </div>
                <div class="cell" data-title="Location">
                    @clientService.ClientName
                </div>
                <div class="cell" data-title="Location">
                    @clientService.PaymentMethod
                </div>
                <div class="cell" data-title="Location">
                    @clientService.Address
                </div>
                <div class="cell" data-title="Location">
                    @clientService.Phone
                </div>
                <div class="cell" data-title="Location">
                    @clientService.ClientName
                </div>
            </div>
        }



    </div>



</div>