@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    @model List<ClientServiceViewModel>

}

<div class="d-flex justify-content-end">
    <a class="btn btn-primary mb-3" href="@Url.Action("Add", "ClientService")"> إضافة خدمه لعميل <b>+</b></a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">أسم العميل</th>
            <th scope="col"> الهاتف</th>
            <th scope="col">المنطقة السكنيه</th>
            <th scope="col">طريقة المحاسبه</th>
            <th scope="col">الشركه</th>
            <th scope="col">الخدمة</th>
            <th scope="col">سعر الخدمة</th>
            <th scope="col"> نسبة التحمل</th>

        </tr>
    </thead>
    <tbody>
        @foreach (ClientServiceViewModel clientService in Model)
        {
            <tr class="table-active">
                <td>@clientService.ClientName</td>
                <td>@clientService.Phone</td>
                <td>@clientService.Address</td>
                <td>@clientService.PaymentMethod</td>
                <td>@clientService.CompanyName</td>
                <td>@clientService.ServiceName</td>
                <td>@clientService.ServicePrice</td>
                <td>@clientService.EnduranceRatio</td>
            </tr>
        }

    </tbody>
</table>
